:root {
  --gray: rgb(252, 252, 252);
  --trans-gray: rgba(252, 252, 252, 0.90);
  --title-size: 36px;
  --left-padding: 15px;
  --blue: rgb(0, 158, 221);
  --nav-width: 30%;
  --paddding-top: 15px;
  --mobile-side-padding: 20px;
  --code-gray: rgb(240, 240, 240)
}

html {
  height: 100%
}

.App {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
  background-color: var(--gray);
  font-size: 18px;
}

a {
  color: var(--blue);
}

pre {
  background-color: var(--code-gray);
  padding: 5px;
  border-radius: 5px;
}

.sideBar {
  display: grid;
  position: absolute;
  width: var(--nav-width);
  grid-template-rows: auto auto;
  grid-template-columns: 100%;
  z-index: 1;
}

.headerContainer {
  background-color: var(--gray);
  font-size: var(--title-size);
  font-weight: bold;
  padding-left: var(--left-padding);
  padding-right: var(--left-padding);
  padding-top: var(--paddding-top);
  z-index: 1;
}

.sideNav {
  background-color: var(--gray);
  position: sticky;
  z-index: 100;
  font-size: 22px;
  padding-top: var(--paddding-top);
  padding-left: var(--left-padding);
}


.navUnselected {
  text-decoration: none;
  color: black;
}


.navSelected {
  color: var(--blue);
  text-decoration: underline;
}


.content {
  position:sticky;
  top: 0;
  bottom:0;
  padding-left: calc(var(--nav-width) + var(--left-padding) + 20px);
  padding-right: 25%;
  z-index: 0;
  padding-top: var(--paddding-top);  
  margin-bottom: 50px;
}

.pageTitle {
  margin-top: 0;
}


.sideNavButton {
  font-size: 36px;
  float: left;
  z-index: 2;
  display: none;
  padding-right: 20px;
}


.mobileSideNav {
  font-size: 24px;
  display: none;
  height: 100%;
  width: 35%;
  position: fixed;
  z-index: 3;
  top: 0;
  left:0 ;
  background-color: var(--trans-gray);
  transition: .5s ease;
  overflow-x: hidden;
  padding-top: 20px;
  flex-direction: column;
  /* align-items: left; */
}

.mobileHeaderContainer {
  display: none;
  position: fixed;
  top: 0;
  font-size: 22px;
  padding-top: 10px;
  z-index: 1;
  background-color: var(--trans-gray);
  padding-left: var(--mobile-side-padding);
  width: 100%;
  padding-bottom: 10px;
}

.mobileSiteTitle {
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;
  font-size: 24px;
  padding-left: 20px;
}

@media (max-width: 1000px) {
  .headerContainer {
    display: none;
  }  

  .content {
    padding-right: var(--mobile-side-padding);
    padding-left: var(--mobile-side-padding);
    padding-top: 75px;
  }

  .sideNavButton {
    display: inherit;
  }

  .sideNav{
    display: none;
  }

  .mobileSideNav {
    display: flex;
  }

  .mobileNavUnselected {
    padding-left: 20px;
    text-decoration: none;
  }

  .mobileHeaderContainer {
    display: inline;
    font-style: bold;
  }

  .sideBar {
    display: none;
  }

}